# Token do bot (Discord Developer Portal > Bot > Reset Token)
DISCORD_TOKEN=

# Client ID da aplicação (Discord Developer Portal > General Information)
CLIENT_ID=

# Client Secrete
CLIENT_SECRET=

# IDs dos servidores onde os comandos devem ser registrados, separados por vírgula
DEV_GUILD_IDS=

# Redirect URI
REDIRECT_URI=

# Connection string do MongoDB Atlas
MONGODB_URI=

# Porta da API Express (opcional, padrão 3000)
PORT=

# O express-session precisa de uma "chave secreta" pra assinar os cookies (evita que alguém falsifique um ID de sessão).
SESSION_SECRET=

FRONTEND_URL=